@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
  box-sizing: border-box;
}

nav{
  background-color: rgb(45, 45, 48);
}

ul {
  margin: 0 auto;
  max-width: 800px;
  list-style: none;
  padding: 0;

}


li {
  display: inline;
}

a {
  font-size: 20px;
  width: 19.6328%;
  color: #FFF;
  text-decoration: none;
  padding: 17px;
  display: inline-block;
  transition: background .6s;
}

.home:hover {
  color: rgb(44, 88, 231);
  background: #A7C7E7 url(../image/kirito.png) no-repeat right bottom;
  background-origin:border-box;
}

.historia:hover {
  color: rgb(226, 12, 12);
  background: #FAA0A0 url(../image/asuna.png) no-repeat right bottom;
  background-origin:border-box;
}

.personagens:hover {
  color: rgb(6, 187, 6);
  background: #C1E1C1 url(../image/leafa.png) no-repeat right bottom;
  background-origin: border-box;
}

.temporadas:hover {
  color: rgb(151, 12, 216);
  background: #C3B1E1 url(../image/sinon.png) no-repeat right bottom;
  background-origin: border-box;
}

.contato:hover {
  color: rgb(219, 22, 160);
  background: #F8C8DC	 url(../image/yui.png) no-repeat right bottom;
  background-origin: border-box;
}